<h1>All Products</h1>

<%= form_tag(cart_path, :method => "put") do %>

	<ol>
	<% Product.all.each do |product| %>
		<li>

			<%= product.name + "  $" + product.price.to_s %>
			<br>

			<%= label_tag "Change Quantity"%>
			<%= number_field_tag "cart[#{product.id}]"%>
		</li>

	<% end %>
	</ol>

	<%= submit_tag "Update Cart"%>
<% end %>

